body {
    background-color: black;
    margin: 0;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 25px;
}

h1 {
    font-size: 3em;

}

.date {
    font-size: 0.8em;
}

footer {
    font-size: 0.8em;
    position: absolute;
    bottom: 1.2em;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* NETWORK STATUS classes */
.networkStatus {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid black;
    /*width: 50px;*/
    background: none !important;
    padding: 5px;
    margin: 10px;
    font-size: 0.6em;
}

.netStatus {
    display: inline-block;
}

.light {
    border-radius: 50%;
    min-width: 5px;
    min-height: 5px;
    display: inline-block;
}

.online {
    background-color: green;
    color: green;
    border-color: green;
}

.offline {
    background-color: red;
    color: red;
    border-color: red;
}

div>div.netStatus {
    background: none;
}
/* end of NETWORK STATUS classes */

.city {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.temp {
    font-size: 4em;
    display: inline-block;
}

.scale {
    display: inline-block;
    font-size: 0.35em;
}

.grayedout {
    color: gray;
}

.winddeg {
    display: inline-block;
}

.description {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.details {
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.sun {
    font-size: 1.5em;
}