body {
    padding: 10px;
    width: 100vw;
    background-color: black;
    color: lightgreen;
    text-align: center;
    font-size: 200%;
}

h1 {
    text-decoration: underline;
}
#quoteBox {
    
}
#box {
    max-width: 80vw;
    min-width: 350px;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: inset 0px 0px 55px 5px rgba(0,255,0,0.46);
    padding: 35px;
    margin: 20px auto;

}

#nextBtn {
    font-size: 1.2em;
    background-color: green;
    color: lightgreen;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
#nextBtn:parent {
    clear: both;
    width: 150px;
    margin: 20px;
}

#box {
    
}
#quoteBox>p:nth-child(2){
    float:right;
}
#twitter {
    /*float: left;*/
    margin: 25px;
}

.fallback {
    display: none;
}
.footnote {
    margin-top: 10px;
    margin-bottom: 5px;
}

.footnote, .console {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    font-size: 0.4em;
}
.bottomMsg {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}
.clear {
    clear: both;
}

.tweetBtn>button {
    font-size: 0.7em;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-size: 24%;
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 50%;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
    text-align: right;
    width: 140px;
}

.showMe {
    display: none;
}

#consoleBtn {
    font-size: 0.5em;
    background-color: green;
    color: lightgreen;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}