body {
    
}

.myContent {
    margin-top: 50px;
    text-align: center;
    font-family: "'Times New Roman', Times, serif";
}

h1 {
    font-size: 4em;
    font-weight: bolder;
}
h2{
    font-size: 3em;
    text-decoration: underline; 
    font-weight: bold;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}
h2, h1, h3 {
    font-variant: small-caps;
    margin-top: 75px;
}

footer p{
    color:gray;
}

.regularText {
    margin-top: 50px;
    max-width: 900px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}
.pictures {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#home{
    padding: 20px;
    background-color: white;
    background-image: url('img/home.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    min-height: 75vh;
    color: black;
}
#about {
    background-color: white;
    background-image: url('img/about.jpg');
    background-attachment: fixed;
    min-height: 75vh;
    color: white;
}
#portfolio {
    background-color: darkgray;
    background-image: url('img/portfolio.jpg');
    background-attachment: fixed;
    min-height: 75vh;
    color: white;
}

#portfolio div {
    display: inline-block;
    margin: 25px;

}

#contact {
    min-height: 75vh;
    background-color: white;
    background-image: url('img/contact.jpg');
    background-attachment: fixed;
    background-position: left top;
}

#contact button {
    font-size: 2em;
    width: 250px;
    border: 2px solid gray;
    background-color: lightgray;
    color: darkgray;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
}
.buttons {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

button {
    position: relative;
}

#contact button:hover {
    left: 4px;
    bottom: 4px;
    background-color: darkgray;
    color: black;
}
button>a:hover {
    text-decoration: none;
    color: black
}